
    {% include 'partials/header.html.twig' %}

    <body class="d-flex flex-column min-vh-100">
    {% include 'partials/navbar.html.twig' %}
    <div class="container-fluid flex-grow-1">
        {% block body %}{% endblock %}
    </div>
    {% include 'partials/footer.html.twig' %}
    </body>

