{% include 'partials/header.html.twig' %}

<body class="d-flex flex-column min-vh-100">
{% include 'partials/navbar.html.twig' %}


{% block body %}{% endblock %}

{% include 'partials/footer.html.twig' %}
</body>