
    {% include 'partials/header.html.twig' %}
    <body>
    <div class="container-fluid">
        {% include 'partials/navbar.html.twig' %}
    </div>

        {% block body %}{% endblock %}
    </body>
    {% include 'partials/footer.html.twig' %}

