<div class="ButtonFilter">
    {% if app.request.attributes.get('id') is null %}
        <div class="my-2">
            <a class=" {% if app.request.attributes.get('_route') == 'app_tableau' and app.request.attributes.get('param') is null and app.request.attributes.get('value') is null %} filter {% endif %}" href="{{ path('app_tableau') }}"> <button type="button" class="btn btn-secondary">Tous</button></a>
        </div>

        <div class="btn-group my-2" role="group" aria-label="Basic example">
            <div class="btn btn-secondary {% if app.request.attributes.get('param') == 'Radioactif' %} filter {% endif %}">Radioactif</div>
            <a class=" {% if app.request.attributes.get('param') == 'Radioactif' and app.request.attributes.get('value') == '1' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'Radioactif', 'value': '1'}) }}"><button type="button" class="btn btn-secondary">Oui</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'Radioactif' and app.request.attributes.get('value') == '0' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'Radioactif', 'value': '0'}) }}"><button type="button" class="btn btn-secondary">Non</button></a>
        </div>

    {% endif %}

</div>