{% extends 'base.html.twig' %}

{% block title %}Hello TableauController!{% endblock %}

{% block body %}
    <section>
        <div class="container-fluid">

            <div class="BlocTableauFiltre my-5">
                <article>
                    <div class="tableau">
                        {% include 'table/table.html.twig' %}
                    </div>
                </article>
                <article class="blocPresentation">
                    <h1 class="text-center mt-5">Tableau périodique des éléments</h1>

                        {% include 'table/presentation.html.twig' %}
                </article>
            </div>
        </div>
    </section>
{% endblock %}



