<div>
    <p>
        Le tableau périodique que vous avez sous les yeux vous permet d'explorer les éléments chimiques d'une manière interactive et dynamique.
        Chaque case représente un élément et vous pouvez cliquer directement sur les cases pour obtenir plus de détails sur un élément spécifique.
        Vous avez également la possibilité de sélectionner des groupes et des périodes simplement en cliquant sur les colonnes ou les lignes correspondantes.
    </p>
    <p>
        Que vous soyez intéressé par un groupe particulier, comme les métaux alcalins, ou par une période spécifique, notre tableau vous aidera à
        naviguer facilement dans les différents éléments et à découvrir leurs propriétés.
    </p>
</div>