{% extends 'base.html.twig' %}

{% block title %}Mise à jour d'un groupe {% endblock %}

{% block body %}
    <section>
        <article>
            <div class="container">
                <h1 class="text-center my-5">Mise à jour d'un groupe </h1>
                {{ form(form) }}
            </div>
        </article>
    </section>
{% endblock %}
