{% extends 'base.html.twig' %}

{% block title %}Hello UpdatePeriodController!{% endblock %}

{% block body %}
    <section>
        <article>
            <div class="container">
                <h1 class="text-center my-5">Mise à jour période </h1>
                {{ form(form) }}
            </div>
        </article>
        {% if is_granted('ROLE_SUPER_ADMIN')%}
            <hr class="my-5">
            <article>
                <div class="container">
                    <h1 class="text-center my-5">Suppression de la période</h1>
                    <div class="supprCata ">
                        <div>
                            <p>Attention, la suppression de la période sera définitive et il ne pourra y avoir de retour en arrière possible.</p>
                        </div>
                        <div>
                            <a href="{{ path('app_delete_period', {id:app.request.attributes.get('id')}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>
                        </div>
                    </div>
                </div>
            </article>
        {% endif %}
    </section>
{% endblock %}
