<article class="adminApiDoc">
    <h5>Documentations de l'API.</h5>
    <div class="my-2 groupCard">
        {% for ApiDoc in ApiDocs %}
            <div class="card cardCat my-1 mx-1">
                <a href="{{ path('app_update_api_documentation', {id: ApiDoc.id}) }}" class="LinkAdminAtom">
                    <div class="card-body">
                        <div class="CardSymbole text-center">{{ ApiDoc.ButtonTitle }}</div>
                    </div>
                </a>
            </div>
        {% endfor %}
        <div class="card cardCat my-1 mx-1">
            <a href="{{ path('app_create_api_documentation') }}">
                <div class="card-body">
                    <div class="CardSymbole text-center">+</div>
                </div>
            </a>
        </div>
    </div>
</article>