<article class="adminTable">
    <h5>Merci de sélectionner l'élément que vous souhaitez modifier.</h5>
    <div class="my-2 groupCard">
        {% for Element in Elements %}
            <div class="card cardAtom">
                <a href="{{ path('app_update_element', {id: Element.id}) }}">
                    <div class="card-body">
                        <div class="CardSymbole text-center">{{ Element.symbole }}</div>
                        <div class=" CardNumber text-center"><strong>{{ Element.numero }}</strong></div>
                    </div>
                </a>
            </div>
        {% endfor %}
        <div class="card cardAtom">
            <a href="{{ path('app_create_element') }}">
                <div class="card-body">
                    <div class=" CardNumber text-center">add</div>
                    <div class=" CardNumber text-center">+</div>
                </div>
            </a>
        </div>
    </div>
</article>
