{% extends 'base.html.twig' %}

{% block title %}Hello CreatePeriodController!{% endblock %}

{% block body %}
    <section>
        <article>
            <div class="container">
                <h1 class="text-center my-5">Ajout d'une période</h1>
                {{ form(form) }}
            </div>
        </article>
    </section>
{% endblock %}
