
h1, h2, h3, h4{
    color: #003366;
    text-align: center;
    margin: 10px 0 20px 0;
    font-family: fangsong;
}
h5, h6{
    color: #003366;
    margin: 10px 0 20px 0;
    font-family: fangsong;
}

/*partials/navbar.html.twig*/
.active{
    color: white !important;
}

.filter{
    color: #FFA500 !important;
}

.BlocMenu{
    padding: 10px;
}
.navbar a{
    color: #FFA500;
}
.navbar-nav .nav-link.active{
    color: #FFFFFF ;
}

.nav-item :hover, .navbar .navbar-brand:hover{
    color: #FFFFFF !important;
}
.navbar-brand{
    border-color: #FFA500 !important;
    border: 1px solid;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-width: 0;
    padding-right: 25px;
}
.navbar{
    background-color: #003366;
    color: #FFA500;
}


/*table/index.html.twig*/
.blocPresentation{
    margin: 0 0 0 52px;
}
.defPageTable h3, .defPageTable p{
    color: #FFFFFF;
    font-family: cursive;
}
.ElementTable{
    background-image: url("/images/black-1072366_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.blocPresentation h1, .blocPresentation p, .blocPresentation h2{
    color: #FFFFFF;
    font-family: cursive;
}
.separation{
    border: 2px solid white;
    width: 200px;
    margin: auto;
}

/*table/table.html.twig*/
.Element{
    border-collapse: separate;
    margin: auto;
    text-align: center;
}
.boxAtom {
    width: 73px ;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tdTable, .thTable{
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    border-radius: 10%;
    -webkit-box-shadow: 5px 5px 9px 2px rgba(0, 0, 0, 0.54), inset -1px -1px 6px -2px #000000, 5px 5px 15px 9px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 9px 2px rgba(0, 0, 0, 0.54), inset -1px -1px 6px -2px #000000, 5px 5px 15px 9px rgba(0, 0, 0, 0);
}
.thTable{
    background-color: #FFFFFF;
}
.tdTableEmpty{
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    border-radius: 10%;
    -webkit-box-shadow: 0 0 0 -30px rgba(0,0,0,0);
    box-shadow: 0 0 0 -30px rgba(0,0,0,0);
}
.BlocRadioactif{
    background-color: #FFFFFF;
    border-width: 1px 4px 4px 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    -webkit-box-shadow: 5px 5px 9px 2px rgba(0, 0, 0, 0.54), inset -1px -1px 6px -2px #000000, 5px 5px 15px 9px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 9px 2px rgba(0, 0, 0, 0.54), inset -1px -1px 6px -2px #000000, 5px 5px 15px 9px rgba(0, 0, 0, 0);
}

.thTable:hover{
    border-color: #FFA500;
    transform: scale(1.15);
}
.tdTable:hover, .BlocRadioactif:hover{
    transform: scale(1.15);
}

td .nom, td .masseAtomique{
    font-size: x-small;
}
td .symbole, td .numero{
    font-weight: bold;
}
td .symbole{
    font-size: 17px;
}
td .numero{
    font-size: 15px;
}
td a, .appli th a{
    text-decoration: none;
    color: black;
}
.appli th a:hover{
    color: #003366;
}

button a{
    text-decoration: none;
    color: white;
}
.appli{
    display: flex;
    justify-content: center;
}
.update{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.Buttonname{
    font-size: 15px;
    font-weight: bold;
}
.ButtonRadioactif{
    display: flex;
    justify-content: space-around;
}
.RadioactifYes:hover{
    color: #B0413E;
    font-weight: bold;
}
.RadioactifNo:hover{
    color: green;
    font-weight: bold;
}

/*Element/read_element/index.html.twig*/
.infosup{
    border: 1px solid black;
    padding: 0 2px 0 2px;
}

/*admin/Element/adminTable.html.twig*/
.cardAtom{
    width: 61px;
}
.cardCat{
    width: 210px;
}
.card-body{
    padding: unset;
}
.groupCard{
    display: flex;
    flex-wrap: wrap;
}
.adminTable a, .adminCategory a, .adminGroup a{
    text-decoration: none;
    color: black;
}
.adminTable a:hover, .adminCategory a:hover, .adminGroup a:hover{
    background-color: #003366;
    color: #FFA500;
}

/*admin/ApiDocumentation/update_api_documentation/index.html.twig*/
.supprCata{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
/*apiDocumentation/read_api_documentation/index.html.twig*/
.blocChapitre{
    position: sticky;
    top: 20px;
}
.infoDocApi li{
    margin: 20px;
}
.infoDocApi{
    background-color: ghostwhite;
    border: 1px solid black;
    margin: 5px 0 5px 0;
    padding: 15px;
}

.ExempleResponseAPIDOC{
    font-size: xx-small;
}
.ExempleResponseAPIDOC:hover{
    font-size: inherit;
}
.blocChapitre td:hover{
    Border: 2px solid #FFA500;
}
.BlocDocApi{
    margin: 100px 0 0 0 ;
}

/*partials/footer.html.twig*/
footer {
    background-color: #003366;
    color: #FFA500;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}


/*home/index.html.twig*/
.EncartText {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    height: 300px;
    opacity: 0.9;
}
.headbandHome{
    background-image: url("/images/1920recadre.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7em;
    flex-wrap: wrap;
}

/*All buttons*/
#api_documentation_submit, #element_submit, #element_category_submit, #element_group_submit, #element_definition_submit, #Button_login, #registration_form_submit{
    background-color: darkgray;
    border-color: darkgray;
}
#api_documentation_submit:hover, #element_submit:hover, #element_category_submit:hover, #element_group_submit:hover, #element_definition_submit:hover, #Button_login:hover, #registration_form_submit:hover{
    background-color: #003366;
    color: #FFA500;
}
/* Styles pour écrans larges (plus de 1800px) */
@media (min-width: 1800px) {
    .boxAtom {
        width: 65px ;
        height: 77px;
    }
    .BlocTableauFiltre{
        display: flex;
        justify-content: space-around;
    }
    .EncartText {
        width: 569px;
        height: 300px;
    }
    .headbandHome{
        height: 500px;
    }
}

@media (max-width: 1800px) and (min-width: 1600px) {
    .boxAtom {
        width: 62px;
        height: 76px;
    }
    td .nom, td .masseAtomique {
        font-size: 10px;
    }
    td .symbole{
        font-size: 17px;
    }
    td .numero{
        font-size: 15px;
    }
    .BlocTableauFiltre{
        display: flex;
        justify-content: space-around;
    }
    .EncartText {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        max-width: 480px;
        min-height: 300px;
        opacity: 0.9;
    }
}

@media (max-width: 1600px) and (min-width: 1300px) {
    .boxAtom {
        width: 63px;
        height: 76px;
    }
    .tdTable{
        height: 88px;
    }
    td .nom, td .masseAtomique {
        font-size: 10px;
    }
    td .symbole{
        font-size: 17px;
    }
    td .numero{
        font-size: 15px;
    }
    .BlocTableauFiltre{
        display: flex;
        flex-direction: column;
    }
    .EncartText {
        max-width: 400px;
        height: 345px;
    }
}

@media (max-width: 1300px) and (min-width: 1000px){
    .boxAtom {
        width: 47px;
        height: 61px;
    }
    td .nom{
        font-size: 10px;
    }
    td .masseAtomique, .numeroLanthanides, .numeroActinides{
        display: none;
    }
    td .symbole{
        font-size: 17px;
    }
    td .numero{
        font-size: 15px;
    }
    .EncartText {
        width: 285px;
        height: 480px;
    }
    .headbandHome{
        height: 550px;
    }
}

@media (max-width: 1000px) and (min-width: 900px){
    .boxAtom {
        width: 41px;
        height: 54px;
    }
    .tdTable{
        height: 75px;
    }
    td .nom{
        font-size: 6px;
    }
    td .masseAtomique, .numeroLanthanides, .numeroActinides, .RomainGroupVertical{
        display: none;
    }
    td .symbole{
        font-size: 17px;
    }
    td .numero{
        font-size: 15px;
    }
    table th span{
        display: none;
    }
    .EncartText {
        width: 255px;
        height: 508px;
    }
    .headbandHome{
        height: 590px;
    }
}
@media (max-width: 900px) and (min-width: 768px){
    .boxAtom {
        width: 33px;
        height: 47px;
    }
    .tdTable{
        height: 63px;
    }
    td .nom{
        font-size: 6px;
    }
    td .nom, td .masseAtomique , .numeroLanthanides, .numeroActinides, .RomainGroupVertical{
        display: none;
    }
    td .symbole{
        font-size: 17px;
    }
    td .numero{
        font-size: 13px;
    }
    table th span{
        display: none;
    }
    .EncartText {
        width: 600px;
        height: 250px;
    }
    .headbandHome{
        height: 814px;
        display: flex;
        margin-top: 7em;
        align-content: space-around;
    }
}


@media (max-width: 768px) and (min-width: 600px){
    .boxAtom {
        width: 24px;
        height: 35px;
        display: flex;
        justify-content: center;
    }
    .tdTable{
        height: 52px;
    }
    td .nom, td .masseAtomique , .numeroLanthanides, .numeroActinides, .RomainGroupVertical{
        display: none;
    }
    td .symbole{
        font-size: 15px;
    }
    td .numero{
        font-size: 13px;
    }
    table th span{
        display: none;
    }
    .EncartText {
        width: 600px;
        height: 250px;
    }
    .headbandHome{
        height: 814px;
        display: flex;
        margin-top: 7em;
        align-content: space-around;
    }
    .EncartText {
        width: 459px;
        height: 297px;
    }
    .headbandHome{
        height: 1014px;
        display: flex;
        margin-top: 7em;
        align-content: space-around;
    }
}

@media (max-width: 600px){
    .boxAtom {
        width: 20px;
        height: 33px;
        display: flex;
        justify-content: center;
    }
    .tdTable{
        height: 46px;
    }
    td .nom, td .masseAtomique , .numeroLanthanides, .numeroActinides, .RomainGroupVertical{
        display: none;
    }
    td .symbole{
        font-size: 12px;
    }
    td .numero{
        font-size: 11px;
    }
    table th span{
        display: none;
    }
    .EncartText {
        width: 459px;
        height: 297px;
    }
    .headbandHome{
        height: 1014px;
        display: flex;
        margin-top: 7em;
        align-content: space-around;
    }
}
