{% extends 'base.html.twig' %}

{% block title %}Page de présentation{% endblock %}

{% block body %}
<section class="homepage">
    <div class="container">

        <h1 class="text-center mt-5 " id="titleHome">Présentation...</h1>

        <div class="mt-5" id="textHome" >
            <p> Ce site n'a pas pour objectif d'être un site éducatif ni de proposer un design impressionnant. Son but principal est de permettre la mise à jour et la
                centralisation des données des éléments. De plus, grâce à son API, il sera possible d'accéder et de mettre à jour ces données depuis n'importe quel site, application ou logiciel.</p>
            <p>Pour accéder à la documentation de l'API et récupérer les données, il vous faudra d'abord vous inscrire sur le site. L'inscription est gratuite, et la récupération des données ne nécessite
                aucune authentification spécifique.  </p>
        </div>
    </div>
      <div class="headbandHome">
            <div class="EncartText">
                <h5 class="Dscience">Données scientifiques</h5>
                <p>
                    Grâce au tableau, vous aurez accès à plus de 25 données différentes concernant les éléments. Vous pourrez consulter des informations telles que la masse
                    volumique, la masse atomique, le point d'ébullition et le pays de découverte de chaque élément.
                    Vous pourrez utiliser des filtres pour affiner votre recherche et visualiser dynamiquement les
                    résultats directement sur le tableau.
                </p>
            </div>
            <div class="EncartText">
                <h5>Mise a jour des données</h5>
                <p>
                    La mise à jour pourra être effectuée de deux façons différentes, sous réserve de l'accord préalable
                    du webmaster. La première option consiste à utiliser un formulaire, qui vous permettra de modifier
                    presque toutes les informations relatives aux éléments. La seconde option passe par l'API.
                </p>
            </div>
            <div class="EncartText">
                <h5>API</h5>
                <p>
                    Une API (application programming interface ou « interface de programmation d'application ») est une
                    interface logicielle qui permet de « connecter » un logiciel ou un service à un autre logiciel ou service
                    afin d'échanger des données et des fonctionnalités. Grâce à celle-ci, vous pourrez obtenir les informations
                    des éléments, soit individuellement, soit en masse, telles qu'exposées sur le site. Il sera également possible
                    de les mettre à jour par la suite.
                </p>
            </div>
        </div>
</section>
{% endblock %}
