<article class="adminGroup">
    <h5>Groupes.</h5>
    <div class="my-2 groupCard">
        {% for Group in Groups %}
            <div class="card cardCat my-1 mx-1">
                <a href="{{ path('app_update_group', {id: Group.id}) }}" >
                    <div class="card-body">
                        <div class="CardSymbole text-center">{{ Group.name }}</div>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% if is_granted('ROLE_SUPER_ADMIN')%}
        <div class="card cardCat my-1 mx-1">
            <a href="{{ path('app_create_group') }}" >
                <div class="card-body">
                    <div class="CardSymbole text-center">+</div>
                </div>
            </a>
        </div>
        {% endif %}
    </div>
</article>
